.actions {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    justify-content: flex-end;
  }
  
  .actions button {
    margin-left: 10px; /* Adjust the margin value to control the spacing between buttons */
  }
   